[ req ]
default_bits       = 2048
distinguished_name = subject
req_extensions     = req_ext
x509_extensions    = x509_ext
string_mask        = utf8only

[ subject ]
countryName              = Country Name (2 letter code)
stateOrProvinceName      = State or Province Name (full name)
localityName             = Locality Name (eg, city)
organizationName         = Organization Name (eg, company)
commonName               = Common Name (e.g. server FQDN or YOUR name)

[ x509_ext ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, keyEncipherment
subjectAltName         = @alternate_names
nsComment              = "OpenSSL Generated Certificate"
extendedKeyUsage       = serverAuth, clientAuth

[ req_ext ]
subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
subjectAltName       = @alternate_names
nsComment            = "OpenSSL Generated Certificate"
extendedKeyUsage     = serverAuth, clientAuth

[ alternate_names ]
IP.1  = 0.0.0.0
IP.2  = 127.0.0.1
IP.3  = 192.168.1.100
DNS.1 = vgurobocon2019.local
DNS.2 = 0.0.0.0
DNS.3 = 127.0.0.1
DNS.4 = 192.168.1.100
